body {
  background-image: linear-gradient(to bottom, black);
  min-height: 100vh;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.subtext{
  font-weight: bold;
   color: white;
  font-family: sans-serif;
  text-align: left;
  padding-left: 2px;
}

.maintext{
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  text-align: left;
  padding-top: 30px;
  line-height: 1.1;
}

.pfp {
  border-radius: 50%;
  border: 5px solid #731cff;
  height: auto;
  width: 150px;
}

.content-text {
  text-align: justify;
  hyphens: auto;
  color: rgb(255, 255, 255);
  size: 10;
  font-family: arial;
}

.custom-card-border {
  border-color: #731cff !important;
}

.project-pic {
  max-width: 200px;
  max-height: 200px;
  align-items: center;
  border-radius: 500%;
  position: relative;
  top: 15px;
}

.title-pad {
  padding-bottom: 7%;
}

.desc-pad {
  padding-bottom: 20px;
}

.contact-text {
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.body-height {
  min-height: 40px;
}

.custom-button-color {
  background-color: #731cff;
}